/*- Custom style -*/

// -- Put custom style under this point -- //
body
{
  font-family : "Inconsolata", "Space Mono", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size   : 16px;
  color: #333;
}
